#homePage{
    background-image: url("images/war_eagle2.jpeg");
    background-size: cover;
}

#eurekaSpringsPage{
    background-image: url("images/eureka_springs_background.jpg");
    background-size: cover;
}

#fayettevillePage{
    background-image: url("images/fay_5.jpeg");
    background-size: cover;
}

#contactPage{
    background-image: url("images/pea_ridge3.jpg");
    background-size: cover;
}

#bentonvillePage{
    background-image: url("images/background3.jpg");
    background-size: cover;
}

nav{
    background-color: teal;
    padding: 15px;
}

#fayNav, #fayFooter{
    background-color: rgb(231, 117, 50);
}

#bentNav, #bentFooter{
    background-color: rgb(42, 139, 105);
}

.nav-link{
    color: white;
}

#navLogo{
    background-color: white;
    color: black;
}

.navbar-toggler{
    color: black;
    border: 1px solid black;
}

h1, h2, h3, h4{
    text-align: center;
    font-family: "Palatino";
    color: white;
}

h5{
    text-align: center;
}

p, li{
    text-align: center;
    font-size: 17px;
    font-family: "Georgia";
}

.jumbotron{
    background-color: rgba(245, 245, 245, 0.2);
}

.nwaHistory{
    border: 1px solid black;
    background-color: #F0F8FF;
}

#nwaSect{
    background-color: rgba(245, 245, 245, 0.3);
    color: white;
}

form{
    border: 0.75px solid #00CED1;
    border-radius: 5px;
}

#weatherForm{
    padding: 10px;
    height: 240px;
    background-color: whitesmoke;
}

#cityName{
    margin-top: 10px;
}

#cityList{
    width: 60%;
}

#weatherSection{
    visibility: hidden;
}

#postQuestionForm{
    background-color: teal;
    color: white;
}

.carousel-item{
    height: 1200px;
}

.townHist{
    background-color: rgba(245, 245, 245, 0.3);
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
}

#fayCardBody{
    background-color: rgb(250, 245, 245, 0.5);
    color: #8B0000;
}

#bentCardBody{
    background-color: rgb(250, 245, 245, 0.5);
    color: rgb(25, 80, 49);
}

.itemsList{
    width: 50%;
    margin: auto;
    background-color: rgba(245, 245, 245, 0.2);
    color: white;
}

.notableItems{
    background-color: #8FBC8F;
}

.fayNotableItems{
    background-color: #CD5C5C;
}

.highlightSect{
    background-color: rgba(245, 245, 245, 0.3);
    padding: 10px;
}

.esHist{
    width: 50%;
    border: 1px solid #8FBC8F;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.faySect{
    border: 1px solid maroon;
    background-color: #F0F8FF;
    text-align: center;
}

#mapBtn{
    background-color: #CD5C5C;
    color: white;
}

.media-body{
    height: 200px;
    overflow: scroll;
}

.highlightPics{
    width: 215px;
    height: 200px;
}

h3{
    text-align: center;
    color: black;
}

.bentSect{
    border: 1px solid #0000CD;
    background-color: #F0F8FF;
    text-align: center;
    height: 200px;
    overflow: scroll;
}

.esSect{
    border: 1px solid #9400D3;
    background-color: #F0F8FF;
    text-align: center;
    width: 60%;
    height: 200px;
    overflow: scroll;
}

#crystal{
    float: right;
}

#crescent{
    float: right;
}

footer{
    padding: 3px;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: left;
    margin-top: 20px;
}

.adjustFooter{
    margin-top: 200px;
}

.footPar{
    text-align: left;
    font-size: 15px;
}

.copyright{
    font-size: 10px;
    float: right;
}

#bentonCopy{
    color: white;
}

.rightCopyright{
    font-size: 10px;
    float: left;
}