.navbarHome{
    background-color: teal;
    
    padding: 10px;
}

.navBtn{
    color: white;
    margin: auto;
}

.navbarFay{
    background-color: #DC143C;
    padding: 15px;
}

.navFay{
    color: white;
    padding: 5px;
}

form{
    border: 1px solid grey;
    width: 500px;
}

.carouselPics{
    height: 600px;
    width: 900px;
    margin: auto;
}

.fayHist{
    width: 25%;
    border: 1px solid blue;
    margin-top: 10px;
}

#fayList{
    float: right;
    margin-right: 100px;
    margin-top: 10px;
    border: 0.5px solid grey;
    padding: 10px;
    width: 200px;
    height: 200px;
}